{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{ target.nama }}</h2>
        <small>{{ target.lapakcategory }} | {{ target.lokasi }}</small>
      </div>

      <div class="panel-body">
        <!-- <img src="{{ target.image.url }}" alt="birds" class="thumbnail"> -->
        <button id="likes" data-id="{{target.id}}"
          type="button" class="btn btn-mini btn-danger fa fa-heart-o">
          {% if target.likes > 0 %}
          {{ target.likes }}
          {% endif %}
        </button>
      </div>
    </div>
  </div>

<!-- </div> -->

      <!-- <form enctype="multipart/form-data" action="post_url/" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" name="Submit"/>
      </form> -->

{% endblock %}
