{% extends 'base.html' %}
{% load static %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/books.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Books</h1>

  <!-- button to trigger the action -->
  <p>
    <button class="btn btn-primary js-create-book" type="button">
      <span class="glyphicon glyphicon-plus"></span>
      New
    </button>
  </p>

  <!-- table 'book-table' begin -->
  <table class="table table-hover" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Type</th>
        <th>Publication Date</th>
        <th>Pages</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% include 'book/partial_book_list.html' %}
    </tbody>
  </table>
  <!-- table 'book-table' end -->

  <!-- the modal we will be using -->
  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}
